*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBWI5d-27dl8Z0Bd_kW0jWlqw5cmlqqPV4dA&usqp=CAU);
    background-size: cover;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
    
}

h1 {
    font-size: 50px;
    color: blue;
    
}
.watch{
    margin-top: 50px;
    text-align: center;
    
}
.span {
    font-size: 40px;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
    align-items: center;

    

}
nav ul li a{
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: .25s ease-in-out;
    align-items: center;
} 
nav ul li a:hover{
    background-color: blue;
    color: #fff;
}
main{
    padding: 40px 0;

}
.fa-play-circle:hover{
    transform: scale(1.1);
    transition: .25s ease-in-out;
}
section{
    margin-bottom: 40px;
}
section h2{
    margin-bottom: 20px;
}
    

.container p{
    font-size: 15px;
    margin-bottom: 30px;

}
.banner h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.banner p{
    font-size: 24px;
    margin-bottom: 20px;
}
p{
    color: white;
}
h3{
    color: white;
}
.fa fa-play-circle{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
    font-style: italic;
padding:  10px 20px;
background-color: red;
color: #fff;
text-decoration: none;
border-radius: 25px;
cursor: pointer;
transition: .25s ease-in-out;
transform: scale(1.1);
border: none;
display: flex;
  justify-content: center;
  align-items: center;
}
#series{
    background-color: white;
    background-image: url("images/download.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    box-shadow: 20px 15px;
    border-radius: 10px;
}
.movies #movie{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    width: 200px;
    height: auto;
    cursor: pointer;
    background-image: url(image.jpg);
}
.movies #move{
    display: block;
    margin-right: 20px;
    margin-top: 20px;
    width: 900px;
    height: auto;
    cursor: pointer;
    background-image: url(image.jpg);
    align-items: center;
}
 #movie img{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    align-items: center;
    
}
.movies #movie img:hover{
    transform: scale(1.1);
    transition: .25s ease-in-out;
}
.movies #movie a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.movies #movie h3{
    color: #fff;

}
.movies h2{
    color: #fff;

}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}